@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?18o0wy');
  src:  url('icomoon.eot?18o0wy#iefix') format('embedded-opentype'),
    url('icomoon.ttf?18o0wy') format('truetype'),
    url('icomoon.woff?18o0wy') format('woff'),
    url('icomoon.svg?18o0wy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icono128:before {
  content: "\e900";
}
